<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>2048多人在线联机</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/game.js'></script>
  </head>
  <body>
    
  </body>
</html>
